src/main/mule/recruiting/Create_Candidate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<!-- <flow name="Create_Candidate" doc:id="222ef82c-ad7f-4e44-b0e1-dc85d263b4da" >
		<choice doc:name="Choice" doc:id="da923a17-cf4c-4cdc-98ed-73510fd3bb35" >
			<when expression="#[(vars.originalPayload.candidate.documents.requisition.requisitionId? and vars.originalPayload.candidate.documents.requisition.requisitionId == true)]" >
				<flow-ref doc:name="Flow Reference" doc:id="e89ec668-300c-4508-9df6-7a8d38323711" name="Get_Recruiting_Job_Requisition" />
			</when>
			<otherwise >
				<choice doc:name="Choice" doc:id="6a8ae364-d4f5-4191-b7ba-ed54c8022c58" >
					<when expression="#[(vars.originalPayload.candidate.Evergreen.requisition.requisitionId? and vars.originalPayload.candidate.Evergreen.requisition.requisitionId == true)]" >
						<flow-ref doc:name="Flow Reference" doc:id="da2685fd-8fec-481c-b185-c86ec30f157a" name="Get_Recruiting_Evergreen_Requisition" />
					</when>
				</choice>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="a4f5fa58-f321-485e-8f2b-dc3b955f84e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="033db5c4-05fc-40cd-a945-f2032f49ef40" name="Put_Applicant" />
	</flow> -->
</mule>
