src/main/mule/recruiting/dequeueing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="queueingFlow" doc:id="f8261f7c-4249-4d87-9c11-888913087569" >
		<jms:listener doc:name="Listener" doc:id="8f35a995-75b6-4b5a-8a94-4d30a24cfb82" config-ref="JMS_Config_1_1" destination="${candidate-push.workday-candidate-recruiting-q}" ackMode="AUTO">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="DEBUG" doc:name="Logger" doc:id="24e52500-d87a-4f8c-a136-a76bd4f56df1" message="Message is consumed #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="03de3d3c-808c-485d-9fc0-697886da8328" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="client_id" ><![CDATA[%dw 2.0
output application/java
---
p('secure::client_id')]]></ee:set-variable>
				<ee:set-variable variableName="client_secret" ><![CDATA[%dw 2.0
output application/java
---
p('secure::client_secret')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference to get access token" doc:id="f9fb5b9c-10cc-435c-9169-ec5910d4e264" name="gunslinger-api-get-token-config" target="accessToken" targetValue="#[payload.data.access_token]"/>
		<http:request method="GET" doc:name="get Gunslinger configuration" doc:id="62e88c27-02b4-480d-823f-1bc14a2f72c1" config-ref="HTTP_Request_configuration_gunslinger" path="${gunslinger-api-config.getCustomMappingUri}" target="config">
		<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.accessToken
}]]]></http:headers>
						<http:query-params ><![CDATA[#[output application/java
			---
			{
				"accountId" : vars.originalPayload.candidate.accountId,
				"includeConfiguration" : "true",
				"status" : "Active",
				"environment" : p('gunslinger-api-config.environment')
			}]]]></http:query-params>
		</http:request>
		<flow-ref doc:name="Flow Reference to process candidates" doc:id="459f6819-0891-481d-83db-a93545046476" name="process-candidatesFlow"/>
	</flow>
	<flow name="dequeueingFlow-test" doc:id="1096aa17-5014-44f0-8541-08a84d35fee8" >
		<http:listener doc:name="Listener" doc:id="fb0e587d-a86e-400b-b025-ba860a4f636c" config-ref="cb-domain-httpListenerConfig" path="/cb-workday-proc-api/v1/recruiting-queue-test"/>
		<jms:publish doc:name="Publish" doc:id="92a14ca3-67a5-44a7-b7c9-d18f3a39ef68" config-ref="JMS_Config_1_1" destination="${candidate-push.workday-candidate-recruiting-q}"/>
	</flow>
</mule>
