src/main/mule/recruiting/get-candidates.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-candidatesFlow" doc:id="f59e44ea-679f-4aea-a378-09f103530bc3" >
		<http:request method="GET" doc:name="Get Candidates Request By Email" doc:id="59977a6f-b8d3-40df-9ce9-6c8cc181c576" config-ref="HTTP_Request_configuration_workday" path="${cb-workday-sys-api.recruiting.get-candidates-uri}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : vars.client_secret,
	"password" : p('secure::cb-workday-sys-api.headers.password'),
	"client_id" : vars.client_id,
	"tenantName" : p('cb-workday-sys-api.headers.tenantName'),
	"userName" : p('cb-workday-sys-api.headers.userName')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	("email" : vars.originalPayload.candidate.email[0]) if(vars.originalPayload.candidate.email[0]?)
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
