src/main/mule/recruiting/process-candidates.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:module-cb-event="http://www.mulesoft.org/schema/mule/module-cb-event" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/module-cb-event http://www.mulesoft.org/schema/mule/module-cb-event/current/mule-module-cb-event.xsd">
	<flow name="process-candidatesFlow" doc:id="bc6671cf-b823-490c-bdb3-b5f37265459e" >
		<flow-ref doc:name="Get Candidates By Email" doc:id="ae034798-e74a-4ab5-94ac-3c05ef87fcce" name="get-candidatesFlow"/>
		<choice doc:name="Choice" doc:id="20ddabbf-8ec3-4d77-8a4d-2aebfbfc0110" >
			<when expression="#[vars.originalPayload.candidate.documents.application? and vars.originalPayload.candidate.documents.requisition?]">
				<choice doc:name="Check if the candidates exists in Workday" doc:id="20c93ce9-fa04-48b1-95ee-2c113780c804">
			<when expression="#[vars.candidate !=null and !isEmpty(vars.candidate)]">
				<logger level="DEBUG" doc:name="Logger" doc:id="9570033d-fbf7-46e7-bbcb-e3b1b618a045" message="#[payload]" />
				<ee:transform doc:name="Transform Message" doc:id="498e0429-4758-463d-9499-cea232ff067e">
					<ee:message>
					</ee:message>
					<ee:variables>
								<ee:set-variable variableName="candidateAlreadyAppliedToJob" ><![CDATA[%dw 2.0
output application/json
var requisitionId = vars.originalPayload.candidate.documents.requisition.requisitionId
var getFilteredJobById= vars.candidate.Candidate_Data.*Job_Application_Data.Job_Applied_To_Data.Job_Requisition_Reference map ((item) -> item filterObject((value) ->  value == requisitionId))
---
if (getFilteredJobById !=null ) (getFilteredJobById reduce ((item, accumulator) -> item ++ accumulator)).ID else null
]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
						<choice doc:name="Check If the candidate has already applied for this job" doc:id="207392ec-5e0d-420f-b9e2-bbef1f450009">
							<when expression="#[vars.candidateAlreadyAppliedToJob !=null]">
								<module-cb-event:send-scalyr-event doc:name="Send scalyr event" doc:id="28f0fe4e-324f-4da7-b274-3fcae2e1a801" config-ref="Cb_event_Connector_Config" eventType="logentries" eventStatus="Success" eventMsg="Candidate has already applied to this Job" flowName="process-candidatesFlow" transactionProperties="#[{requisitionId: vars.originialPayload.candidate.documents.requisitions.requisitionId}]">
									<module-cb-event:payload ><![CDATA[#[vars.originalPayload.candidate - "documents"]]]></module-cb-event:payload>
								</module-cb-event:send-scalyr-event>
							</when>
							<otherwise >
								<flow-ref doc:name="Review Requisitions" doc:id="904e4fd4-00bf-49ad-8653-665f114b9e91" name="ReviewRequisitions" />
								<flow-ref doc:name="get Degree and field of study reference" doc:id="c2fd75c6-4d1a-440a-abb8-4fad7aecc95e" name="getDegreesAndFieldOfStudyReferences"/>
								<flow-ref doc:name="CreateCandidate" doc:id="01e11531-f3cd-4c4f-8d6d-24e17361c890" name="prepare-create-candidates" />
							</otherwise>
						</choice>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="f0807767-a710-4ff9-802b-2cabc38114f0" message="#[payload]" />
						
						<flow-ref doc:name="ValidateRequisition" doc:id="43af006e-2c3b-432e-8ec3-6620e0f98fa0" name="ReviewRequisitions" />
						<flow-ref doc:name="get Degree and field of study reference" doc:id="4fd94623-69aa-4c3b-9055-9d49e4584d2b" name="getDegreesAndFieldOfStudyReferences"/>
						<flow-ref doc:name="Get Workday Flow Reference" doc:id="4fb4965a-ce0e-4e05-b1f8-0c25fd8454d2" name="getworkdayReferences"/>
						<flow-ref doc:name="CreateCandidate" doc:id="8bd84c13-d489-4491-81c2-d854360a6344" name="prepare-create-candidates" />
			</otherwise>
		</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="459b621d-1681-4744-9b57-278f2e4e77a9" message="Candidate is new"/>
			</otherwise>
		</choice>
	</flow>
</mule>
