src/main/mule/recruiting/upload_resume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<!-- <flow name="upload_resume" doc:id="014fe027-995c-4bd5-b64c-858d21666fcd" >
		<choice doc:name="Choice" doc:id="4c2f125e-4c54-4c17-94d3-a5e31109308c" >
			<when expression="#[sizeOf(payload)!=0 or (vars.originalPayload.resume.isAppLink? and vars.originalPayload.resume.isAppLink==true)]" >
				<flow-ref doc:name="Flow Reference" doc:id="52cf3d83-7db7-44bd-a9a0-5c0826cf8815" name="Get_Recruiting_Candidate_attachement" />
				<choice doc:name="Choice" doc:id="3659df39-6450-41fd-8b99-4292580f4532" >
					<when expression="#[(vars.originalPayload.candidate.resume? and vars.originalPayload.candidate.resume ==true)]" >
						<flow-ref doc:name="Flow Reference" doc:id="a45afcc5-9dc7-4def-9091-b5734bb9a713" name="Put_Recruiting_Applicannts_attachment" />
					</when>
				</choice>
			</when>
		</choice>
	</flow> -->
</mule>
