src/main/mule/upload_resume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="upload_resume" doc:id="b227ff83-90b0-4ca1-a579-f18a57c4bd30" >
		<choice doc:name="Choice" doc:id="9c37d7fd-a7cd-4f77-ba67-5676a52aebeb" >
			<when expression="#[sizeOf(payload)!=0 or (vars.originalPayload.resume.isAppLink? and vars.originalPayload.resume.isAppLink==true)]" >
				<flow-ref doc:name="Flow Reference" doc:id="57f4709c-ae38-424c-8e03-aba723463470" name="Get_Recruiting_Candidate_attachement" />
				<choice doc:name="Choice" doc:id="9a1f5296-8161-4def-b9b8-5bb9eafc7ec5" >
					<when expression="#[(vars.originalPayload.candidate.resume? and vars.originalPayload.candidate.resume ==true)]" >
						<flow-ref doc:name="Flow Reference" doc:id="31ea2543-1ef6-4016-b9d1-a0fc2c923192" name="Put_Recruiting_Applicannts_attachment" />
					</when>
				</choice>
			</when>
		</choice>
	</flow>
</mule>
